@charset "UTF-8";

@font-face {
  font-family: "SourceHanSansCN-Heavy";
  src: url("SourceHanSansCN-Heavy.woff2") format("woff2"),
       url("SourceHanSansCN-Heavy.woff") format("woff"),
       url("SourceHanSansCN-Heavy.ttf") format("truetype"),
       url("SourceHanSansCN-Heavy.eot") format("embedded-opentype"),
       url("SourceHanSansCN-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}